<%# The form for entering affected family members.
  There is no model object for the form. Hence use the controller singular
    instead ie :affected_relative %>

<% provide(:title, "Calculator") %>
<%#= form_for(:affected_relative, url: affected_relatives_path) do |f| %>
<%#= form_for(:affected_relative, url: {action: "create", anchor: "results_section"}) do |f| %>
<%= form_for(:calculation) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/calculations_form', f: f %>
    </div>
  </div>
<% end %>