<% provide(:title, 'Help') %>
<h1>Ig Dose Calculator Help</h1>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<p>This is an app useable on all mobiles, tablets and desktops that calculates the immunoglobulin dose to administer, taking into account
the ideal body mass (IBM) adjustment recommended in the NHS England Updated Commissioning Criteria for the use of therapeutic immunoglobulin (Ig) in immunology, haematology, neurology and infectious diseases in England (January 2019)
</p>

</br>

<span id = "patient_help">&nbsp;</span>
<div class= "help">
  <h3>Patient</h3>
  <p> Enter the patient's sex, height and weight.
  </p>
  <p> Height is needed to determine if the patient's actual mass is significantly greater than their ideal
  body mass. The latter is calculated according to the Robinson formula (J. D. Robinson, 1983, converted to metric):
  </p>
  <p>
  Man:   52 kg + 0.75 kg per cm height over 152 cm
  </p>
  <p>
  Woman: 49 kg + 0.67 kg per cm height over 152 cm
  </p>

  <div class= "bottom">
    <%= link_to "Return",'javascript:history.go(-1);', class: 'btn btn-primary navbar-btn' %>
  </div>
</div>

<span id = "dosage_help">&nbsp;</span>
<div class= "help">
  <h3>Dosage</h3>
  <p> The dose schedule for initial and repeated doses depends on the indication and is listed in the NHS England Updated Commissioning Criteria (Jan 19) and previous NHS England communications.
  </p>
  <p> For many autoimmune indications, patients should be dosed at a frequency that matches their previous time to relapse. When treating Chronic Inflammatory Demyelinating Polyneuropathy (CIDP), for example, patients should be given two doses separated by 6 weeks, and then monitored for relapse. If or when they do so, they are given the third dose quickly, and subsequent doses are scheduled at the same time interval as between the second and third doses.
  Effort should be made to try and bring the frequency to no more than 6 weekly. This guidance may evolve to consider 12 weekly a maximum frequency.
  </p>
  <p>
  Once stable on a certain dose frequency and in the long term phase of treatment, exploration should be made of dose reductions by reducing the dose by 20% each time until it is clear there is reduced benefit and then maintaining on the minimum dose that achieves the established benefit level.
  </p>
  <p>
  Every year (every 6 months for secondary antibody deficiency), the preselected outcome measures should be repeated pre-dose and 2-4 weeks post dose with the aim of establishing continued benefit. If the patient has not actually deteriorated pre-dose, then the dose should periodically (every 1-2 years) be withheld until deterioration and then given quickly, recording the pre-dose trough level and the post-dose improvement level.
  </p>
  <p>
  If the patient shows continued Ig dependence after 2-3 such trials over a 5 year period, then long-term dependence is likely and it is enough just to demonstrate continued benefit pre-dose or post-dose to compare with a previously recorded relapsed state.
  </p>

  <div class= "bottom">
    <%= link_to "Return",'javascript:history.go(-1);', class: 'btn btn-primary navbar-btn' %>
  </div>
</div>


<span id = "calculate_help">&nbsp;</span>
<div class= "help">
  <h3>Calculate</h3>
  <p> Clicking this button calculates the total immunoglobulin dose to administer. If the actual body mass is > 20% more than ideal body mass (IBM), the weight to be used
  to calculate Ig dose will be reduced according to the formula (use kg):
  </p>
  <p>
    Corrected mass = IBM + 0.4(actual mass – IBM)
  </p>

  <div class= "bottom">
    <%= link_to "Return",'javascript:history.go(-1);', class: 'btn btn-primary navbar-btn' %>
  </div>
</div>









<span id = "version_number">&nbsp;</span>
       <h3 style="padding-top:400px">
         Version Number
       </h3>
    <p>
    This is version 0.1 of the
    <a href="https://igcalculator.herokuapp.com/">Ig Calculator</a>
    application.
    </p>
    </br></br></br></br>