<% provide(:title, "Home") %>
<%# The center class is set by the custom.scss file where .center has text-align:center
and the center h1 section also has margin-botton:10px %>

<div class="center">
  <%# This attaches font awesome icons which can be used for a button as below %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

  <h1>
    <%# as specified in the custom.scss file, this has set animations%>
    Ig Dose Calculator
  </h1>

  <h2>
    This App calculates Immunoglobulin doses based on height, weight and indication and takes into account ideal body mass
  </h2>
  <%= link_to calculations_path, class: 'btn btn-primary navbar-btn' do %>
    <%= content_tag(:span, "", :class => "fa fa-calculator") %>
    Go to Calculation
  <% end %>

  <div class="col-xs-12"></br></br></div>


<div class="center_image">
  <%= link_to image_tag("pride_logo.jpg", alt: "BHRUT"),
            'https://www.bhrhospitals.nhs.uk' %>
</div>
</div>

