<h2>Password reset for Calculator</h2>

<p>To reset <%= @user.name %>'s password click the link below:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      name: @user.name) %>

<p>This link will expire in two hours.</p>

<p>
If they did not request the password to be reset, please ignore this email and
the password will stay as it is.
</p>
