<%# This provide sets the tab name of the url page. The yield function corresponding to
    this is in the application.html.erb file which sets the layout for all pages%>
<% provide(:title, "Edit User") %>

<%# This provide sets the button text for the render "form" which calls the partial
    _form.html.erb%>
<% provide(:button_text, 'Save changes') %>
<h2>Update profile for <%= @user.name %></h2>


<%# The code is like the new from, but because @user is now not blank, the text
    fields are populated with the existing values%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>


    <%# Using target="_blank" is a way of getting the browser to open the page in
    a new window; setting the attribute rel (relatinship) to noopener means that
    the new window application cannot indroduce malicious content%>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>