<footer class="footer">
  <small>
    The <a href="https://dprcalculator.herokuapp.com/">DPR Calculator</a>
     App by <a href="https://dulcetware.com">dulcetware</a>
  </small>
  <nav>
    <ul>
      <%# moved about to header to stop overrun of footer right side when fixed%>
      <%#<li><a href="https://hometimestuff.herokuapp.com/">News</a></li>%>
    </ul>
  </nav>
</footer>